<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qh.recruit.admin.mapper.CommunicateMapper">

    <resultMap type="Communicate" id="CommunicateResult">
        <result property="id"    column="id"    />
        <result property="posterId"    column="poster_id"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="previousId"    column="previous_id"    />
        <result property="content"    column="content"    />
        <result property="contentType"    column="content_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
    </resultMap>

    <resultMap type="CommunicateDto" id="CommunicateResultDto">
        <result property="id"    column="id"    />
        <result property="posterId"    column="poster_id"    />
        <result property="posterName"    column="poster_id"    />
        <result property="receiverId"    column="receiver_id"    />
        <result property="receiverName"    column="receiver_id"    />
        <result property="previousId"    column="previous_id"    />
        <result property="content"    column="content"    />
        <result property="contentType"    column="content_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectCommunicateVo">
        select id, poster_id, receiver_id, previous_id, content, content_type, create_time, update_time, status, version from tb_communicate
    </sql>

    <select id="selectCommunicateList" parameterType="Communicate" resultMap="CommunicateResult">
        <include refid="selectCommunicateVo"/>
        <where>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="contentType != null  and contentType != ''"> and content_type = #{contentType}</if>
        </where>
    </select>

    <select id="selectCommunicateById" parameterType="Long" resultMap="CommunicateResult">
        <include refid="selectCommunicateVo"/>
        where id = #{id}
    </select>

    <insert id="insertCommunicate" parameterType="Communicate" useGeneratedKeys="true" keyProperty="id">
        insert into tb_communicate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="posterId != null">poster_id,</if>
            <if test="receiverId != null">receiver_id,</if>
            <if test="previousId != null">previous_id,</if>
            <if test="content != null">content,</if>
            <if test="contentType != null">content_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="version != null">version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="posterId != null">#{posterId},</if>
            <if test="receiverId != null">#{receiverId},</if>
            <if test="previousId != null">#{previousId},</if>
            <if test="content != null">#{content},</if>
            <if test="contentType != null">#{contentType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="version != null">#{version},</if>
        </trim>
    </insert>

    <update id="updateCommunicate" parameterType="Communicate">
        update tb_communicate
        <trim prefix="SET" suffixOverrides=",">
            <if test="posterId != null">poster_id = #{posterId},</if>
            <if test="receiverId != null">receiver_id = #{receiverId},</if>
            <if test="previousId != null">previous_id = #{previousId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contentType != null">content_type = #{contentType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="version != null">version = #{version},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommunicateById" parameterType="Long">
        delete from tb_communicate where id = #{id}
    </delete>

    <delete id="deleteCommunicateByIds" parameterType="String">
        delete from tb_communicate where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectListByPeerId" resultMap="CommunicateResult">
        <include refid="selectCommunicateVo"/>
        where (poster_id = #{id1} and receiver_id = #{id2}) or
              (poster_id = #{id2} and receiver_id = #{id1})
        order by create_time desc
    </select>
</mapper>